body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background: url("/images/background.jpg") no-repeat  center center fixed;
    background-size:cover;
}
/* header */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3E6259;
    color: #fff;
    padding: 10px;
    flex-direction: row;
    height:90px;
    width: 100%;
  
}
.header-left-side{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header-left-side h1{
    font-size: 20px;
}
.header-left-side img{
    height: 100px;
    margin-left: 20px;
}
.header-right-side{
    display: flex;
    align-items: center;

}
.header-right-side a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
.header-right-side .header-right-logo img{
    height: 50px;
    margin-right: 25px;
    border-radius: 10px;
}
.header-right-side .header-right-profile img{
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.header-right-side .header-right-login button{
    padding: 10px 20px;
    background-color: #AEF6C7;
    color: black;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    width: 80px;
    height: 40px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.header-right-side .header-right-login button:hover
{
    background-color: #2c2e2e;
    color: #fff;
    transition: 0.75s;
}
@media only screen and (max-width: 1000px) {

    .header-container{
        display: flex;
        width: 102%;
}
.header-left-side h1{
    font-size: 15px;
    text-wrap: nowrap;
}
.header-left-side img{
    height: 75px;
    margin-left: 10px;

}

.header-right-side .header-right-logo img{
    height: 40px;
}
.header-right-side .header-right-profile img{
    height: 40px;
}
.header-right-side .header-right-login button{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    width: 60px;
    height: 30px;
}
}
/*body8 */
.body-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.container {
    background:transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    backdrop-filter: blur(10px);
}
.container h2 {
    margin-bottom: 20px;
    color:#CFFFB0;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
.input-group label {
    display: block;
    font-weight: bold;
    color:#CFFFB0;
}
.input-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    background: transparent;
    color: White ;
    font-size:15px;
  
}
.input-group input:focus {
    outline: none;
    border-color:#CFFFB0;
    box-shadow: 0 0 5px #CFFFB0;
    background: transparent;
  }
  
.btn {
    width: 100%;
    padding: 10px;
    background: #CFFFB0;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}
.btn:hover {
    background:#9fe76f;
}
.error-message {
    color: red;
    margin-top: 10px;
}
.toggle-link-login,.toggle-link-signup {
    margin-top: 15px;
    color: #9fe76f;
    cursor: pointer;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374d48;
    color: #fff;
    padding: 10px;
    flex-direction: row;
    height:50px;
    bottom: 0;
    position :fixed;
    width: 102%;
}
.social-icon{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    width:250px;
    cursor: pointer;
}

.social-icon{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    width:250px;
    cursor: pointer;
}
.social-icon a {
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.social-icon a:hover i.fa-facebook {
    color: #1877f2;
}

.social-icon a:hover i.fa-instagram {
    color: #e4405f;
}

.social-icon a:hover i.fa-x-twitter {
    color: #000000;
}

.social-icon a:hover i.fa-linkedin {
    color: #0077b5;
}